.om-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.om {
    color: var(--text);
    background-color: var(--bg);
    padding: 50px;
    max-width: 80%;
}

.om h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.highlight {
    color: var(--accent);
    font-weight: bold;
}

.team-card {
    width: 300px;
}
.team-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 6px;
}
.team-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.team-tittel {
    color: var(--white);
    background-color: var(--accent);
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
}

@media screen and (max-width: 800px){
    .om {
        max-width: 100%;
        padding: 50px;
    }
    .team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .team-card {
        width: 250px;
    }
}
@media screen and (max-width: 500px){
    .om {
        max-width: 100%;
        padding: 30px;
    }
    .om h1 {
        font-size: 2.3rem;
    }
}

.om-line {
    height: 1px;
    width: 100%;
    background-color: var(--nav-line);
    margin-bottom: 20px;
}

.team {
    margin-top: 100px;
}

